In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/output.csv')

In [4]:
df.loc[df['username'] == 'kevin-meyers', 'most_used_language'].value_counts()

Python              24
Jupyter Notebook    12
HTML                10
CSS                  2
C#                   2
Name: most_used_language, dtype: int64

In [24]:
df['username'].nunique()

194

In [40]:
top_users_df = df.groupby(['username'])['most_used_language'].nunique().reset_index()

In [43]:
top_users_df.columns = ['username', 'unique_languages']

In [45]:
top_users_df

           username  unique_languages
0           AEFaour                 5
1    AakashSudhakar                 6
2      Abhishek5101                 8
3         AcidicNic                 6
4          AderCode                 3
..              ...               ...
189       xianchris                 1
190         xingY97                 3
191     yimengmin87                 1
192         zachooz                 6
193           zstix                 4

[194 rows x 2 columns]

In [50]:
df = pd.merge(df, top_users_df, on='username')

In [51]:
df

      username              repo_name most_used_language  unique_languages
0     AlyoshaS              git-hooks         JavaScript                 5
1     AlyoshaS               codewars         JavaScript                 5
2     AlyoshaS          gatsby-course         JavaScript                 5
3     AlyoshaS          react-webpack         JavaScript                 5
4     AlyoshaS  clean-code-javascript         JavaScript                 5
...        ...                    ...                ...               ...
5502   madcato        KerasDeepSpeech             Python                10
5503   madcato                  twine               Ruby                10
5504   madcato   raspberrypi-sensehat                C++                10
5505   madcato             BenderRuby        Objective-C                10
5506    hiradp                   nest         TypeScript                 1

[5507 rows x 4 columns]